{% extends "base.html" %}

{% block title %}Manage Event Requests{% endblock %}

{% block content %}
<div class="container">
    <h1>Manage Requests for "{{ event.title }}" event</h1>

    {% if requests %}
        <ul class="">
            {% for event_request in requests %}
                <li class="container">
                    {{ event_request.user.username }} - {{ event_request.requested_at }}
                    <div class=" ">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ event_request.id }}">
                            <button type="submit" name="action" value="approve" class="btn alert-success">Approve</button>
                        </form>
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="request_id" value="{{ event_request.id }}">
                            <button type="submit" name="action" value="decline" class="btn alert-danger">Decline</button>
                        </form>
                    </div>
                </li><br>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted">No pending requests.</p>
    {% endif %}
    <a href="{% url 'own_events' %}" class="btn btn-secondary mt-3">Back to My Events</a>
</div>
{% endblock %}
